
body {
    font-family: "Titillium Web", sans-serif;

    background-color: #24353f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: none;
    background-color: #24353F;
    color: #17A2B8; 
}
.form-control {
    background-color: transparent;
    border: 1px solid #0dcaf0;
    color: white;
    
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #0dcaf0;
    color: #0dcaf0;
    transition: 0.3s;
}
.btn-primary:hover {
    background-color: #0dcaf0;
    color: #fff;
}
a {
    color: #0dcaf0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}













